.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button {
    padding: 4px 12px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
}

h3, p {
    color: rgba(0, 0, 0, .8);
}